body {
    position:relative;
  text-align : center;
  font-family: 'Comic Sans MS';
}

.main-pannels {
    display:inline-block;
}

#left-pannel {
    position:absolute;
    width: 20%;
    left:0;
}

#right-pannel {
    position: absolute;
    width: 20%;
    right:0;
}

#middle-pannel {
    position:absolute;
    width: 55%;
    left:24%;
}

.div {
    margin: 5px;
    width:97px;
    height:97px;
    display:inline-flex;
    border: 3px solid black;
}

#money {
    margin:10px;
}

.div img {
    width: 20px;
    height: 20px;
    vertical-align:top;
    margin:auto;
}

.sellPotatoe {
    font-weight: bold;
    text-align: center;
    margin: 5px;
    width: 100px;
    height: 100px;
    display: inline-flex;
}

.sellPotatoe:hover {
    text-decoration:underline;
}

#vegetables {
    position:relative;
    width: 100%;
    margin-top:20px;
}

#time {
    border:1px solid black;
    margin-bottom:10px;
}

.shop-object {
    position: relative;
    width: 100%;
    text-align: left;
}