body {
  text-align : center;
  font-family: Arial; 
}

.div {
    margin: 5px;
    width:200px;
    height:50px;
    display:inline-flex;
}

.div img {
    width: 20px;
    height: 20px;
}

.sellPotatoe {
    font-weight: bold;
    text-align: center;
    margin: 5px;
    width: 100px;
    height: 100px;
    display: inline-flex;
}

.sellPotatoe:hover {
    text-decoration:underline;
}

#vegetables {
    margin-top:20px;
}